In [1]:
import pandas as pd

In [7]:
# load messages dataset
messages = pd.read_csv(r'C:\Users\abello\Documents\Test Classification Project\data\disaster_messages.csv')

# load categories dataset
categories = pd.read_csv(r'C:\Users\abello\Documents\Test Classification Project\data\disaster_categories.csv')

# Merge categories and messages data set on 'id'
df = pd.merge(messages,categories, on='id')

# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(pat =";",n=36,expand=True)

# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = list(row.str.split(pat = "-",expand =True)[0])

# rename the columns of `categories`
categories.columns = category_colnames

for column in categories:
    # set each value to be the last character of the string
    categories[column] = [x[-1] for x in categories[column]]
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column])

# drop the original categories column from `df`
df.drop('categories', axis=1, inplace=True)

# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df,categories],axis=1)
df.head()

#Change values of related to 1 where it's erronously inputed as 2
df['related'] = df['related'].replace(2,1)

In [8]:
df['related'].unique()

array([1, 0], dtype=int64)

In [26]:
df.describe()

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
count,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.00000,26386.000000,26386.000000,26386.00000,26386.000000,...,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000
mean,15217.885886,0.767301,0.171038,0.004586,0.415144,0.07955,0.049989,0.027477,0.01785,0.032707,...,0.011711,0.043773,0.278292,0.082506,0.093383,0.010687,0.093269,0.020200,0.052263,0.193777
std,8823.741128,0.422560,0.376549,0.067564,0.492756,0.27060,0.217926,0.163471,0.13241,0.177871,...,0.107583,0.204594,0.448166,0.275139,0.290974,0.102828,0.290815,0.140687,0.222560,0.395264
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7438.250000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15650.500000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,22916.750000,1.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30265.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.00000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000